/*Variables*/
/*Font*/
/*Colors: From darkest (1) to lightest(5) + accent color*/
/*Page settings*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  min-width: 320px;
  margin: 0 auto;
  max-width: 1315px; }

section, footer {
  width: 100%;
  margin: 0 auto; }

/*Headings*/
h1, h2, h3 {
  text-transform: uppercase; }

h1 {
  font-size: 2.625rem;
  color: #131729; }

h2 {
  font-size: 1.875rem;
  color: #8F8E9E; }

h3 {
  font-size: 1.125rem;
  color: #8F8E9E; }

h4 {
  font-size: 1.125rem;
  color: #131729;
  margin-bottom: 0; }

h5 {
  font-size: 0.875rem;
  color: #8F8E9E;
  text-transform: uppercase; }

/*Paragraph*/
p {
  font-size: 1rem;
  line-height: 1.625;
  color: #8F8E9E;
  margin-bottom: 0; }

/*Links*/
/*Navigation links*/
nav ul {
  list-style: none; }
  nav ul .nav-item .nav-link {
    text-transform: uppercase;
    color: #8F8E9E; }
    nav ul .nav-item .nav-link:hover, nav ul .nav-item .nav-link:focus {
      color: #131729;
      cursor: pointer; }
  nav ul .dropdown-menu {
    width: 12.5rem;
    border: none; }
    nav ul .dropdown-menu .dropdown-item {
      color: #8F8E9E;
      white-space: normal; }
      nav ul .dropdown-menu .dropdown-item:hover, nav ul .dropdown-menu .dropdown-item:focus {
        color: #131729;
        background-color: transparent;
        cursor: pointer; }

.dropdown-toggle::after {
  content: none; }

.dropdown:hover .dropdown-menu {
  display: block; }

/*Other links*/
p a {
  color: #8B263C; }
  p a:hover {
    text-decoration: underline; }

/*Images*/
/*Logo*/
.navbar-brand {
  width: 275px; }
  .navbar-brand img {
    width: 100%; }

/*Navigation Icons*/
.nav-icon-box {
  width: 3.25rem;
  height: 3.25rem;
  cursor: pointer;
  border-radius: 0.125rem; }
  .nav-icon-box .nav-icon {
    width: 1.6875rem; }
  .nav-icon-box:hover {
    box-shadow: 0 0 0.5rem 0.125rem rgba(0, 0, 0, 0.08); }

/*Buttons, buttons as icons*/
button {
  text-transform: uppercase;
  padding: 0.875rem 2rem;
  border-radius: 0.25rem;
  border: none;
  box-shadow: 0 0 0.5rem 0.3125rem rgba(0, 0, 0, 0.08);
  letter-spacing: 0.02em; }
  button a:hover {
    text-decoration: none; }

.dark {
  background-color: #131729;
  color: #E9E8EC; }
  .dark a {
    color: #E9E8EC; }

.light {
  background-color: #E9E8EC;
  color: #131729; }
  .light a {
    color: #131729; }

/*Sections*/
section {
  max-width: 1400px; }

/*Hero Section*/
/*Main image*/
.hero {
  display: flex;
  flex-direction: row;
  position: relative; }

.hero-main-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: 70% 70%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/photos/first.jpg); }

/*Secondary images*/
.hero-secondary-img {
  position: relative;
  float: left;
  width: 29.0625rem;
  height: 23.125rem;
  background-repeat: no-repeat;
  background-size: auto;
  margin-left: 0.625rem; }

.hero-secondary-one {
  background-image: url(../images/photos/second.jpg);
  margin-bottom: 0.625rem;
  background-position: 20% 70%; }

.hero-secondary-two {
  background-image: url(../images/photos/third.jpg); }

.column {
  display: flex;
  flex-direction: column; }

/*Zooming*/
.to-zoom-hero {
  overflow: hidden;
  width: 60.3125rem;
  height: 46.9375rem; }

/*Filter and on filter*/
.filter {
  background-color: #131729;
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1; }
  .filter:hover {
    opacity: 0.3;
    transition: transform 0.2s; }

.content-on-filter-main-img {
  position: absolute;
  width: 23.125rem;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .content-on-filter-main-img h1 {
    color: #E9E8EC; }
  .content-on-filter-main-img .strong {
    font-weight: 700; }

.content-on-filter-smaller-img {
  position: absolute;
  width: 15rem;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .content-on-filter-smaller-img h1 {
    color: #E9E8EC;
    font-size: 3.75rem; }
  .content-on-filter-smaller-img h2 {
    color: #E9E8EC; }
  .content-on-filter-smaller-img .bigger-letters {
    font-size: 5rem; }

/*Icon*/
.small {
  height: 1.25rem;
  width: 1.25rem; }

@keyframes hideshow {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.scroll {
  position: absolute;
  z-index: 20;
  bottom: 3.125rem;
  left: 75%; }
  .scroll .animate {
    border: 0.125rem solid #E9E8EC;
    width: 3.4375rem;
    height: 3.4375rem;
    border-radius: 50%;
    animation: hideshow 1s ease infinite;
    margin: 0 auto; }
    .scroll .animate svg {
      height: 3.4375rem;
      width: 3.4375rem;
      fill: #E9E8EC;
      padding-top: 1.375rem;
      padding-left: 1rem; }
      .scroll .animate svg:hover {
        cursor: pointer; }
  .scroll p {
    color: #E9E8EC;
    text-transform: uppercase; }

/*Products*/
.products .product1 img {
  border-top: 0.0625rem dotted #E9E8EC; }
.products .product2 img {
  border: 0.0625rem dotted #E9E8EC;
  position: relative; }
.products .product3 img {
  border-left: 0.0625rem dotted #E9E8EC;
  border-bottom: 0.0625rem dotted #E9E8EC; }

.product1,
.product2,
.product3 {
  position: relative;
  max-width: 16.5rem;
  padding: 1rem 1rem 2rem 1rem; }
  .product1:hover,
  .product2:hover,
  .product3:hover {
    box-shadow: 0 0 1.125rem 0.625rem rgba(0, 0, 0, 0.06);
    cursor: pointer;
    bottom: 1.25rem; }
    .product1:hover h4,
    .product2:hover h4,
    .product3:hover h4 {
      text-decoration: underline; }
    .product1:hover img,
    .product2:hover img,
    .product3:hover img {
      width: 100%; }

/*Carousel*/
.just-in {
  position: relative; }

.owl-carousel .owl-item {
  margin-top: 2rem; }

.owl-carousel .owl-nav {
  background: none; }
  .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
    position: absolute;
    z-index: 5;
    top: 45%;
    width: 3.4375rem;
    height: 3.4375rem;
    border-radius: 50%;
    box-shadow: 0 0 0.5rem 0.3125rem rgba(0, 0, 0, 0.08); }
    .owl-carousel .owl-nav .owl-prev svg, .owl-carousel .owl-nav .owl-next svg {
      z-index: 10;
      width: 3.4375rem;
      height: 3.4375rem;
      fill: #8F8E9E;
      padding-top: 0.9375rem;
      padding-left: 1.25rem; }
      .owl-carousel .owl-nav .owl-prev svg:hover, .owl-carousel .owl-nav .owl-next svg:hover {
        fill: #4C4B5F;
        cursor: pointer;
        background-color: white;
        border-radius: 50%; }

.owl-prev {
  left: -3rem; }

.owl-next {
  right: -3rem; }

/*Overwriting default carousel navigation behavior*/
.owl-carousel .owl-nav.disabled {
  display: block; }

/*Price and label*/
.image {
  position: relative; }

.label {
  position: absolute;
  background-color: #8B263C;
  color: #E9E8EC;
  letter-spacing: 0.1em;
  left: 0;
  top: 0; }

.accent {
  color: #8B263C; }

/*Inspiration*/
.inspiration {
  background-color: #131729;
  margin-right: 0;
  margin-left: 0; }

.show-more {
  display: none; }

/*Images*/
.img {
  position: relative;
  width: 18.75rem;
  height: 18.75rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }

.img-first {
  background-image: url(../images/photos/fifth.jpg); }

.img-second {
  background-image: url(../images/photos/sixth.jpg); }

.img-third {
  background-image: url(../images/photos/seventh.jpg); }

.img-fourth {
  background-image: url(../images/photos/eighth.jpg); }

.img-fifth {
  background-image: url(../images/photos/ninth.jpg); }

.img-sixth {
  background-image: url(../images/photos/tenth.jpg); }

.img-seventh {
  background-image: url(../images/photos/eleventh.jpg); }

.img-eighth {
  background-image: url(../images/photos/twelvth.jpg); }

/*Overlay and with overlay*/
.overlay {
  background-color: rgba(19, 23, 41, 0.6);
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .3s ease;
  top: 0;
  left: 0; }

.img:hover .overlay {
  opacity: 1;
  cursor: pointer;
  transition: 0.3s; }

.instagram-image {
  background-image: url("../images/icons/tc-insta-big-whitte.svg");
  position: absolute;
  z-index: 2;
  background-repeat: no-repeat;
  top: 40%;
  left: 40%; }

.icon-image {
  width: 3.125rem;
  height: 3.125rem; }

/*Zoom*/
.to-zoom {
  overflow: hidden;
  width: 18.75rem;
  height: 18.75rem; }

.zoom {
  transition: transform .2s; }
  .zoom:hover {
    transform: scale(1.1); }

/*Contact*/
.contact form {
  display: flex;
  align-items: flex-end;
  justify-content: center; }
  .contact form ::placeholder {
    font-family: "Montserrat", sans-serif;
    color: #8F8E9E;
    font-size: 1.125rem; }
.contact .bigger-letters {
  font-size: 1.5rem; }
.contact input {
  width: 100%;
  border: none;
  border-bottom: 0.125rem solid #D2D2D8;
  line-height: 4;
  padding-left: 1rem; }
  .contact input:focus {
    border: 0.125rem solid #4C4B5F;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem 0.3125rem rgba(0, 0, 0, 0.08); }

/*Footer*/
footer {
  background-color: #E8E8E8; }
  footer ul {
    list-style: none; }
    footer ul li a {
      color: #8F8E9E; }
      footer ul li a:hover, footer ul li a:focus {
        color: #131729;
        cursor: pointer;
        text-decoration: none; }
  footer .payment {
    display: flex;
    align-items: center; }
    footer .payment .payment-icon {
      width: 100%; }
  footer svg {
    height: 3.125rem;
    width: 3.125rem;
    fill: #8F8E9E; }
    footer svg:hover {
      fill: #131729;
      cursor: pointer; }

footer {
  position: relative;
  height: 100%;
  bottom: 0; }

hr {
  width: 100%;
  height: 0.0625rem;
  color: #D2D2D8; }

/*Collections*/
.headline {
  position: relative; }
  .headline:after {
    content: ' ';
    position: absolute;
    display: block;
    width: 3.75rem;
    margin-top: 2rem;
    border: 0.0938rem solid #d0d0d0;
    border-radius: 0.25rem;
    box-shadow: inset 0 0.0625rem 0.0625rem rgba(0, 0, 0, 0.05);
    left: 50%;
    transform: translateX(-50%); }

@media all and (max-width: 1230px) {
  .hero {
    display: block; }
    .hero .scroll {
      left: 45%; }
    .hero .to-zoom-hero {
      overflow: hidden;
      background-size: cover;
      width: 100%; }
      .hero .to-zoom-hero .hero-main-img {
        display: block;
        overflow: hidden;
        width: 100%; }
    .hero .column {
      margin-top: 0.625rem;
      display: flex;
      flex-direction: row; }
      .hero .column .hero-secondary-one {
        width: 70%;
        margin-bottom: 0;
        margin-left: 0; }
      .hero .column .hero-secondary-two {
        width: 30%; } }
@media all and (max-width: 900px) {
  .hero .column .hero-secondary-one {
    width: 50%; }
  .hero .column .hero-secondary-two {
    width: 50%; } }
@media all and (max-width: 870px) {
  .inspiration-img:nth-child(n+5) {
    display: none; }

  .show-more {
    display: block; } }
@media all and (max-width: 530px) {
  .hero .column {
    flex-direction: column; }
    .hero .column .hero-secondary-one {
      width: 100%;
      margin-bottom: 0.625rem; }
    .hero .column .hero-secondary-two {
      width: 100%;
      margin-left: 0; } }

/*# sourceMappingURL=style.css.map */
