/*Variables*/
  /*Font*/

$main-font: 'Montserrat', sans-serif;

  /*Colors: From darkest (1) to lightest(5) + accent color*/

$color1: #131729;
$color2: #4C4B5F;
$color3: #8F8E9E;
$color4: #D2D2D8;
$color5: #E9E8EC;
$colorAccent: #8B263C;

/*Page settings*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $main-font;
  font-weight: 400;
  min-width: 320px;
  margin: 0 auto;
  max-width: 1315px;
}

section, footer {
  width: 100%;
  margin: 0 auto;
}

  /*Headings*/

h1, h2, h3 {
  text-transform: uppercase;
}

h1 {
  font-size: 2.625rem;
  color: $color1;
}

h2 {
  font-size: 1.875rem;
  color: $color3;
}

h3 {
  font-size: 1.125rem;
  color: $color3;
}

h4 {
  font-size: 1.125rem;
  color: $color1;
  margin-bottom: 0;
}

h5 {
  font-size: 0.875rem;
  color: $color3;
  text-transform: uppercase;
}

  /*Paragraph*/

p {
  font-size: 1rem;
  line-height: 1.625;
  color: $color3;
  margin-bottom: 0;
}

  /*Links*/
      /*Navigation links*/

nav ul {
  list-style: none;
  .nav-item .nav-link {
    text-transform: uppercase;
    color: $color3;
    &:hover, &:focus {
      color: $color1;
      cursor: pointer;
    }
  }
  .dropdown-menu {
    width: 12.5rem;
    border: none;
    .dropdown-item {
      color: $color3;
      white-space: normal;
      &:hover, &:focus {
        color: $color1;
        background-color: transparent;
        cursor: pointer;
      }
    }
  }
}

.dropdown-toggle::after {
  content: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

    /*Other links*/
p a {
  color: $colorAccent;
  &:hover {
    text-decoration: underline;
  }
}

  /*Images*/
    /*Logo*/

.navbar-brand {
  width: 275px;
  img {
    width: 100%
  }
}

  /*Navigation Icons*/

.nav-icon-box {
  width: 3.25rem;
  height: 3.25rem;
  cursor: pointer;
  border-radius: 0.125rem;
  .nav-icon {
    width: 1.6875rem;
  }
  &:hover {
    box-shadow: 0 0 0.5rem 0.125rem rgba(0,0,0,0.08);
  }
}

  /*Buttons, buttons as icons*/

button {
  text-transform: uppercase;
  padding: 0.875rem 2rem;
  border-radius: 0.25rem;
  border: none;
  box-shadow: 0 0 0.5rem 0.3125rem rgba(0,0,0,0.08);
  letter-spacing: 0.02em;
  a:hover {
    text-decoration: none;
  }
}

.dark {
  background-color: $color1;
  color: $color5;
  a {
    color: $color5;
  }
}

.light {
  background-color: $color5;
  color: $color1;
  a {
    color: $color1;
  }
}

  /*Sections*/

section {
  max-width: 1400px;
}

    /*Hero Section*/
      /*Main image*/
.hero {
  display: flex;
  flex-direction: row;
  position: relative;
}

.hero-main-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: 70% 70%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/photos/first.jpg);
}

      /*Secondary images*/

.hero-secondary-img {
  position: relative;
  float: left;
  width: 29.0625rem;
  height: 23.125rem;
  background-repeat: no-repeat;
  background-size: auto;
  margin-left: 0.625rem;
}

.hero-secondary-one {
  background-image: url(../images/photos/second.jpg);
  margin-bottom: 0.625rem;
  background-position: 20% 70%;
}

.hero-secondary-two {
  background-image: url(../images/photos/third.jpg);
}

.column {
  display: flex;
  flex-direction: column;
}

      /*Zooming*/

.to-zoom-hero {
  overflow: hidden;
  width: 60.3125rem;
  height: 46.9375rem;
}

      /*Filter and on filter*/

.filter {
  background-color: rgba(19, 23, 41, 1);
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1;
  &:hover {
    opacity: 0.3;
    transition: transform .2s
  }
}

.content-on-filter-main-img {
  position: absolute;
  width: 23.125rem;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  h1 {
    color: $color5;
  }
  .strong {
    font-weight: 700;
  }
}

.content-on-filter-smaller-img {
  position: absolute;
  width: 15rem;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  h1 {
    color: $color5;
    font-size: 3.75rem;
  }
  h2 {
    color: $color5;
  }
  .bigger-letters {
    font-size: 5rem;
  }
}

        /*Icon*/

.small {
  height: 1.25rem;
  width: 1.25rem;
}

@keyframes hideshow {
  0% { opacity: 1; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.scroll {
  position: absolute;
  z-index: 20;
  bottom: 3.125rem;
  left: 75%;
  .animate {
    border: 0.125rem solid $color5;
    width: 3.4375rem;
    height: 3.4375rem;
    border-radius: 50%;
    animation: hideshow 1s ease infinite;
    margin: 0 auto;
    svg {
      height: 3.4375rem;
      width: 3.4375rem;
      fill: $color5;
      padding-top: 1.375rem;
      padding-left: 1rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
  p {
    color: $color5;
    text-transform: uppercase;
  }
}

  /*Products*/

.products {
  .product1 {
    img {
      border-top: 0.0625rem dotted $color5;
    }
  }
  .product2 {
    img {
      border: 0.0625rem dotted $color5;
      position: relative;
    }
  }
  .product3 {
    img {
      border-left: 0.0625rem dotted $color5;
      border-bottom: 0.0625rem dotted $color5;
    }
  }
}

.product1,
.product2,
.product3 {
  position: relative;
  max-width: 16.5rem;
  padding: 1rem 1rem 2rem 1rem;
  &:hover {
    box-shadow: 0 0 1.125rem 0.625rem rgba(0,0,0,0.06);
    cursor: pointer;
    bottom: 1.25rem;
    h4 {
      text-decoration: underline;
    }
    img {
      width: 100%;
    }
  }
}

    /*Carousel*/

.just-in {
  position: relative;
}

.owl-carousel {
  .owl-item {
    margin-top: 2rem;
  }
}

.owl-carousel .owl-nav {
  background: none;
  .owl-prev, .owl-next {
    position: absolute;
    z-index: 5;
    top: 45%;
    width: 3.4375rem;
    height: 3.4375rem;
    border-radius: 50%;
    box-shadow: 0 0 0.5rem 0.3125rem rgba(0, 0, 0, 0.08);
    svg {
      z-index: 10;
      width: 3.4375rem;
      height: 3.4375rem;
      fill: $color3;
      padding-top: 0.9375rem;
      padding-left: 1.25rem;
      &:hover {
        fill: $color2;
        cursor: pointer;
        background-color: white;
        border-radius: 50%;
      }
    }
  }
}


.owl-prev {
  left: -3rem;
}

.owl-next {
  right: -3rem;
}

    /*Overwriting default carousel navigation behavior*/

.owl-carousel .owl-nav.disabled {
  display: block;
}

    /*Price and label*/
.image {
  position: relative;
}

.label {
  position: absolute;
  background-color: $colorAccent;
  color: $color5;
  letter-spacing: 0.1em;
  left: 0;
  top: 0;
}

.accent {
  color: $colorAccent;
}

  /*Inspiration*/

.inspiration {
  background-color: #131729;
  margin-right: 0;
  margin-left: 0;
}

.show-more {
  display: none;
}

        /*Images*/

.img {
  position: relative;
  width: 18.75rem;
  height: 18.75rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-first {
  background-image: url(../images/photos/fifth.jpg);
}

.img-second {
  background-image: url(../images/photos/sixth.jpg);
}

.img-third {
  background-image: url(../images/photos/seventh.jpg);
}

.img-fourth {
  background-image: url(../images/photos/eighth.jpg);
}

.img-fifth {
  background-image: url(../images/photos/ninth.jpg);
}

.img-sixth {
  background-image: url(../images/photos/tenth.jpg);
}

.img-seventh {
  background-image: url(../images/photos/eleventh.jpg);
}

.img-eighth {
  background-image: url(../images/photos/twelvth.jpg);
}

      /*Overlay and with overlay*/

.overlay {
  background-color: rgba(19, 23, 41, 0.6);
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .3s ease;
  top: 0;
  left: 0;
}

.img:hover .overlay {
  opacity: 1;
  cursor: pointer;
  transition: 0.3s;
}

.instagram-image {
  background-image: url("../images/icons/tc-insta-big-whitte.svg");
  position: absolute;
  z-index: 2;
  background-repeat: no-repeat;
  top: 40%;
  left: 40%;
}

.icon-image {
  width: 3.125rem;
  height: 3.125rem;
}

      /*Zoom*/

.to-zoom {
  overflow: hidden;
  width: 18.75rem;
  height: 18.75rem;
}

.zoom {
  transition: transform .2s;
  &:hover {
    transform: scale(1.1);
  }
}

  /*Contact*/


.contact {
  form {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    ::placeholder {
      font-family: $main-font;
      color: $color3;
      font-size: 1.125rem;
    }
  }
  .bigger-letters {
    font-size: 1.5rem;
  }
  input {
    width: 100%;
    border: none;
    border-bottom: 0.125rem solid $color4;
    line-height: 4;
    padding-left: 1rem;
    &:focus {
      border: 0.125rem solid $color2;
      border-radius: 0.25rem;
      box-shadow: 0 0 0.5rem 0.3125rem rgba(0,0,0,0.08);
    }
  }
}

  /*Footer*/

footer {
  background-color: #E8E8E8;
  ul {
    list-style: none;
    li a {
      color: $color3;
      &:hover, &:focus {
        color: $color1;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
  .payment {
    display: flex;
    align-items: center;
    .payment-icon {
      width: 100%;
    }
  }
  svg {
    height: 3.125rem;
    width: 3.125rem;
    fill: $color3;
    &:hover {
      fill: $color1;
      cursor: pointer;
    }
  }
}

footer {
  //clear: both;
  position: relative;
  height: 100%;
  bottom: 0;
}

hr {
  width: 100%;
  height: 0.0625rem;
  color: $color4;
}

  /*Collections*/

.headline {
  position: relative;
  &:after {
    content:' ';
    position: absolute;
    display:block;
    width: 3.75rem;
    margin-top: 2rem;
    border: 0.0938rem solid #d0d0d0;
    border-radius:0.25rem;
    box-shadow:inset 0 0.0625rem 0.0625rem rgba(0, 0, 0, .05);
    left: 50%;
    transform: translateX(-50%);
  }
}

@media all and (max-width: 1230px) {
  .hero {
    .scroll {
      left: 45%;
    }
    display: block;
    .to-zoom-hero {
      overflow: hidden;
      background-size: cover;
      width: 100%;
      .hero-main-img {
        display: block;
        overflow: hidden;
        width: 100%;
      }
    }
    .column {
      margin-top: 0.625rem;
      display: flex;
      flex-direction: row;
      .hero-secondary-one {
        width: 70%;
        margin-bottom: 0;
        margin-left: 0;
      }

      .hero-secondary-two {
        width: 30%;
      }
    }
  }
}

@media all and (max-width: 900px) {
  .hero {
    .column {
      .hero-secondary-one {
        width: 50%;
      }

      .hero-secondary-two {
        width: 50%;
      }
    }
  }
}

@media all and (max-width: 870px) {
  .inspiration-img:nth-child(n+5) {
    display: none;
  }
  .show-more {
    display: block;
  }
}

@media all and (max-width: 530px) {
  .hero {
    .column {
      flex-direction: column;
      .hero-secondary-one {
        width: 100%;
        margin-bottom: 0.625rem;
      }
      .hero-secondary-two {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}

